body {
    background-image: url(http://images.forwallpaper.com/files/images/c/c75d/c75d34d8/319146/circles-color-background.jpg) !important;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.header .logo {
    display: none !important;
}

.header {
    background-image: url(http://i.picresize.com/images/2015/04/09/M0gYV.png);
    background-repeat: no-repeat;
}

.roomlist {
    margin: auto;
    text-align: center;
}

.chat-log {
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.userlist {
    background-color: lime;
}

.menugroup .button {
    background: black;
    border-color: aqua;
}

.menugroup .button.big {
    background: black;
    border-color: aqua;
}
    
.pm-log {
    background-color: white;
}
