body {
      background: url(http://fc02.deviantart.net/fs71/i/2013/167/1/a/golduck_by_omegamaddox-d69b7vj.jpg);
}
 
.ps-room.ps-room-light.scrollable {
      font-family: helvetica,arial,sans-serif;
      background: url(http://i.imgur.com/H3NKycL.png) no-repeat right;
      background-color: #000;
      border-color: #DDD;
      color: #FFF;
}
 
.ps-room.ps-room-opaque {
      background: rgba(31, 35, 91, 0.9);
}
 
.header .logo {
      opacity: 0;
}
 
.menugroup {
      background: none repeat scroll 0% 0% rgba(201, 207, 219, 0);
}
 
.menugroup .button {
      width: 230px;
      background: rgba(31, 35, 91, 0.8);
      border: 1px solid #9484FF;
      color: #9484FF;
      font-family: helvetica,arial,sans-serif;
}
 
.menugroup .button:hover {
      width: 230px;
      background: rgba(31, 35, 91, 0.95);
      border: 1px solid #C0B6FF;
      color: #C0B6FF;
}
 
.mainmenufooter a {
      color: #026C96;
      font-family: helvetica,arial,sans-serif;
}
 
.mainmenufooter a:hover {
      color: #0083BC;
}
 
.label {
      font-family: helvetica,arial,sans-serif;
}
 
.maintabbarbottom {
      background: #FFF;
      border: 1px solid #000;
}
 
.tabbar a.button.cur, .tabbar a.button.cur:hover {
      color: #000;
      background: #FFF;
      border: 1px solid #000;
      font-family: helvetica,arial,sans-serif;
      text-shadow: none;
}
 
.tabbar a.button {
      color: #000;
      background: #D1CAFF;
      border: 1px solid #000;
      font-family: helvetica,arial,sans-serif;
      text-shadow: none;
}
 
.tabbar a.button:hover {
      color: #000;
      background: #E1DCFF;
      border: 1px solid #000;
      font-family: helvetica,arial,sans-serif;
      text-shadow: none;
}
 
.broadcast-red {
      background: none repeat scroll 0% 0% #EC5C4D;
      color: #000;
      border: 2px solid #000;
      padding: 5px;
      font-family: helvetica,arial,sans-serif;
      font-size: 10pt;
}
 
.broadcast-blue {
      background: none repeat scroll 0% 0% #8FA6B3;
      color: #000;
      border: 2px solid #000;
      padding: 5px;
      font-family: helvetica,arial,sans-serif;
      font-size: 10pt;
}
 
.broadcast-green {
      background: none repeat scroll 0% 0% #9BB38F;
      color: #000;
      border: 2px solid #000;
      padding: 5px;
      font-family: helvetica,arial,sans-serif;
      font-size: 10pt;
}
 
.pm-window h3 {
      font-family: helvetica,arial,sans-serif;
      color: #212121;
      border: 1px solid #212121;
      background: #FFF;
}
 
.pm-window h3:hover {
      color: #000;
      background: #FFF;
}
 
.pm-window.focused h3, .pm-window.focused h3:hover {
      color: #000;
      background: #FFF;
}
 
.pm-log, .chat-log, .battle-log, .ps-popup {
      font-family: helvetica,arial,sans-serif;
      background: url(http://i.imgur.com/Q8vHT0Y.png);
}
 
.chat-log {
      border: 1px solid #757575;
}
 
.pm-log-add {
      background: rgba(31, 35, 91, 0.8);
}
 
.userlist, .chat-log-add {
      background: #E1DCFF;
      border-right: 1px solid #E1DCFF;
      border-top: 1px solid #E1DCFF;
}
 
.closebutton, .minimizebutton {
      color: #9484FF;
}
 
.chatbox textarea {
      font-family: helvetica,arial,sans-serif;
}
 
.ps-popup .label {
      color: #000;
}
 
.label strong {
      color: #000;
}
 
.ps-popup p.error {
      color: red;
}
 
.ps-overlay {
      background: rgba(31, 35, 91, 0.5);
}
 
a.ilink {
      color: #026C96;
}
 
a.ilink:hover {
      color: #0083BC;
}
 
.roomlist a.ilink {
      border: 1px solid #0093A2;
      color: #010715;
}
 
.roomlist a.ilink:hover {
      border: 1px solid #0093A2;
      color: #070E45;
}
 
.roomlist a.ilink small {
      color: #0093A2;
}
 
  /* Teambuilder CSS */
 
.teamchartbox {
      background: #000;
      border-top: 1px solid #DDD;
}
 
.setchart, .setchart-nickname {
      background: rgba(31, 35, 91, 0.8);
      border-color: #9484FF;
}
 
.setchart label, .setchart-nickname label {
      color: #9484FF;
      text-shadow: none;
      font-family: helvetica,arial,sans-serif;
}

.utilichart .movenamecol, .utilichart .pokemonnamecol, .utilichart .namecol {
      color: #FFF;
      text-shadow: 0px 0px 2px #444;
}
 
.teambuilder-results .result a:hover, .teambuilder-results .firstresult a {
      background: rgba(255, 255, 255, 0.3);
}
 
.utilichart .typecol img {
      opacity: 0.75;
}

.utilichart .twoabilitycol, .utilichart .abilitycol, .utilichart .statcol, .utilichart .itemdesccol, .utilichart .abilitydesccol, .utilichart .movedesccol, .utilichart .labelcol, .utilichart .widelabelcol, .utilichart .pplabelcol {
      color: #DDD;
      text-shadow: 0px 0px 2px #444;
}
 
.utilichart .statcol em, .utilichart .bstcol em, .utilichart .labelcol em, .utilichart .widelabelcol em, .utilichart .pplabelcol em {
      color: #BBB;
      text-shadow: 0px 0px 2px #444;
}
 
.teambuilder-results h3, .teambuilder-results .utilichart h3 {
      background: rgba(31, 35, 91, 0.8);
      border-color: #9484FF;
      color: #9484FF;
      text-shadow: none;
      font-family: helvetica,arial,sans-serif;
}
 
.teambar button {
      background: rgba(31, 35, 91, 0.8);
      border-color: #DDD;
      color: #9484FF;
      text-shadow: none;
      font-family: helvetica,arial,sans-serif;
}
 
.teambar button:hover {
      color: #191C49;
      background: #9484FF;
      border-color: #DDD;
}
 
.teambar button:disabled, .teambar button:disabled:hover, .teambar button:disabled:active {
      background: rgba(31, 35, 91, 0.8);
      border-color: #DDD;
      color: #9484FF;
      text-shadow: none;
      font-family: helvetica,arial,sans-serif;
}
 
.utilichart b {
      color: #9484FF;
}
 
.setchart input, .setchart-nickname input, .statform input.inputform, .setdetails, .setstats {
      background: rgba(31, 35, 91, 0.8);
      border-color: #9484FF;
      color: #9484FF;
      text-shadow: none;
      font-family: helvetica,arial,sans-serif;
}
 
.setchart input:hover, .setchart-nickname input:hover, .statform input.inputform:hover, .setdetails:hover, .setstats:hover {
      background: #42499F;
      border-color: #9484FF;
      color: #9484FF;
      text-shadow: none;
      font-family: helvetica,arial,sans-serif;
}
 
.setchart input:focus, .setchart-nickname input:focus, .statform input.inputform:focus, .setdetails:focus, .setstats:focus {
      background: #42499F;
      border: 1px solid #9484FF;
      color: #FFF;
}
 
.setmenu button {
      color: #DDD;
      text-shadow: 0px 0px 2px #444;
}
 
.setmenu button:hover {
      background: rgba(255, 255, 255, 0.3);
}
 
.setstats .statrow-head em {
      color: #9484FF;
}
 
.majorbutton, .teambuilder-clipboard-button-right, .teambuilder-clipboard-button-left {
      background: rgba(31, 35, 91, 0.8);
      border: 1px solid #9484FF;
      color: #9484FF;
      text-shadow: none;
      font-family: helvetica,arial,sans-serif;
}
 
.majorbutton:hover, .teambuilder-clipboard-button-right:hover, .teambuilder-clipboard-button-left:hover {
      background: rgba(31, 35, 91, 0.95);
      border: 1px solid #C0B6FF;
      color: #C0B6FF;
}
 
.teambuilder-clipboard-data, .teambuilder-clipboard-data:hover {
      background: rgba(31, 35, 91, 0.8);
      border: 1px solid #9484FF;
      color: #9484FF;
      text-shadow: none;
      font-family: helvetica,arial,sans-serif;
}
 
.teambuilder-clipboard-container {
      border-color: #DDD;
}
 
.jslider .jslider-label {
      color: #FFF;
      text-shadow: 0px 0px #222;
      opacity: 0.7;
}
 
.jslider .jslider-value {
      color: #000;
}
